/*Doctype CSS*/

h1	{
	font-family: Figtree;
	text-decoration: bold;

}
.container{
	margin: 15px;
	display:flex;
	flex-direction: column;

}
.question-suivante{
	background:#ffffff;
	border:2px solid black;

}
.question-suivante{

}